@font-face {
  font-family: "digital 7 italic";
  src: url(../fonts/digital-7-italic.ttf);
}

$dark-gray: #333;
$med-gray: rgba(255, 255, 255, 0.1);
$white: #fff;
$med-light-blue: #83bbc9;
$light-blue: #cae2e8;

$monospace-font: "Oxygen Mono", monospace;
$screen-font: "digital 7 italic", Helvetica, Arial, sans-serif;

html {
  background: $dark-gray;
  background: linear-gradient(120deg, #262626, #4d4d4d) fixed;
  h1 {
    color: $white;
    font-family: $monospace-font;
    font-size: 1.5rem;
    letter-spacing: 12px;
    padding: 40px 0 20px;
    text-transform: lowercase;
  }
  main {
    padding-bottom: 50px;
    .calculator {
      background: $med-gray;
      border-radius: 6px;
      margin: 0 auto 30px;
      max-width: 320px;
      padding: 20px 0;
      @media only screen and (orientation: landscape) {
        max-width: 400px;
      }
      .screen {
        background: $light-blue;
        background: linear-gradient(to right, $med-light-blue, $light-blue) fixed;
        border-radius: 4px;
        font-family: $screen-font;
        font-size: 1.8rem;
        height: 50px;
        letter-spacing: 2px;
        margin: 2px auto 0;
        overflow: auto;
        padding-top: 20px;
        padding-right: 5px;
        text-align: right;
        width: 250px;
        @media only screen and (orientation: landscape) {
          width: 350px;
        }
      }
    }
  }
  footer {
    background: $med-gray;
    bottom: 0;
    color: $white;
    font-size: 0.8rem;
    left: 0;
    letter-spacing: 2px;
    padding: 14px 0;
    position: absolute;
    right: 0;
    width: 100%;
    a,
    a:visited,
    a:hover,
    a:active,
    a:focus {
      color: $med-light-blue;
    }
  }
}
